.background-headshot {
  background-image: url("/assets/img/headshot/esther-bw.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .background-headshot {
    height: 300px;
  }
}

@media (min-width: 1440px) {
  .background-headshot {
    height: 0;
    padding-bottom: 31%; /* matches image's aspect ratio */
    background-position: center center;
    background-size: 100%;
  }
}
