.blog-list {
  padding: 0;
  list-style-type: none;
}

.blog-list li {
  padding-bottom: 5px;
}

.blog-tags-list {
  padding: 0;
  list-style-type: none;
}

.blog-tags-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #FFEFEF;
  border-radius: 2px;
}

.blog-tags-list li.active {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #D33939;
  border-radius: 2px;
}

.blog-tags-list li.active>a {
  color: white;
  text-decoration: none;
}

.blog-item-date {
  padding-right: 5px;
  font-family: 'Inconsolata';
  color: #999;
}
