.post-header {
  border-color: #FFD9D9;
}

.post-header .post-date {
  margin-bottom: 0;
  font-family: 'Inconsolata';
  color: #999;
}

.post-content {
  margin-bottom: 20px;
}

.post-tags-container {
  border-top: 1px solid #FFD9D9;
  margin-bottom: 40px;
  padding-top: 9px;
}

.post-tags-container .tag-label {
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: 300;
}

.post-tags-container .tag {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #FFEFEF;
  border-radius: 2px;
}
