.project-links-container {
  display: inline-block;
  padding-top: 20px;
}

.btn-project-link + .btn-project-link {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .btn-project-link{
    display: block;
    width: 100%;
  }

  .btn-project-link + .btn-project-link {
    margin-top: 20px;
    margin-left: 0;
  }
}

.thumbnail-project {
  padding: 0;
  border-radius: 0;
  max-width: 800px;
}

.thumbnail-project .content {
  position: relative;
  max-width: 800px;
}

.thumbnail-project .overlay {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity .2s ease-in-out;
       -o-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}

.thumbnail-project .overlay>p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.no-touch .thumbnail-project:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #333;
  opacity: 0.75;
  text-align: center;
}
