.project-links-container {
  display: inline-block;
  padding-top: 20px;
}

.btn-project-link + .btn-project-link {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .btn-project-link{
    display: block;
    width: 100%;
  }

  .btn-project-link + .btn-project-link {
    margin-top: 20px;
    margin-left: 0;
  }
}

.thumbnail-project {
  padding: 0;
  max-width: 480px;
}

.thumbnail-project img {
  border-radius: 3px 3px 0 0;
}

.thumbnail-project .caption {
  border-radius: 0 0 3px 3px;
  color: #D33939;
  -webkit-transition: color .2s ease-in-out;
       -o-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}

.thumbnail-project .content {
  position: relative;
  max-width: 800px;
}

.thumbnail-project .overlay {
  opacity: 0;
  height: 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-transition: opacity .2s ease-in-out;
       -o-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}

.thumbnail-project .overlay>p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.no-touch .thumbnail-project:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #333;
  opacity: 0.75;
  text-align: center;
  border-radius: 3px 3px 0 0;
}

.no-touch .thumbnail-project:hover .caption {
  color: #B31B1B;
}

.project-excerpt-container {
  border-top: 1px solid #FFD9D9;
  margin-top: 20px;
  padding-top: 9px;
}
