.project-links-container {
  display: inline-block;
  padding-top: 20px;
}

.btn-link + .btn-link {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .btn-link {
    display: block;
    width: 100%;
  }

  .btn-link + .btn-link {
    margin-top: 20px;
    margin-left: 0;
  }
}
