---
layout: default
title: Projects
---

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">

    <!-- Projects -->
    <div class="col-lg-10 col-xl-10">
      <div class="row">
        {% for projectDict in site.data.projects %}
        {% assign projectTitle = projectDict[0] %}
        {% assign project = projectDict[1] %}
    
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="mb-4">
            {% include project-card.html %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Categories: Do not show on smaller devices -->
    <div class="col-lg-auto d-none d-md-block">
      <ul class="list-group">
        {% assign sorted_categories = site.data.project-categories | sort %}
        {% for category in sorted_categories%}
          {% assign category_label = category[0] %}
          <li class="list-group-item"><a href="/projects/category/{{ category_label }}">{{ site.data.project-categories[category_label].title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>