---
layout: default
title: Projects
css:
- /css/projects.css
js:
- /js/projects.js
---

<div class="site-header">
  <div class="container">
    <h1>Projects</h1>
    <p class="lead">Demos, hacks, apps, etc.</p>
  </div>
</div>

<div class="container container-top-margin">
  <div class="row">
    {% for projectDict in site.data.projects %}

    {% assign projectTitle = projectDict[0] %}
    {% assign project = projectDict[1] %}

    <div class="col-sm-4 col-md-3">
      {% include project-thumbnail.html %}
    </div>
    {% endfor %}
  </div>
</div>
