---
layout: default
title: Projects
---

<div class="site-header">
  <div class="container">
    <h1>Projects</h1>
    <p class="lead">A collection of my work</p>
  </div>
</div>

<div class="container container-top-margin">
  <div class="row">
    {% for projectDict in site.data.projects %}

    {% assign projectTitle = projectDict[0] %}
    {% assign project = projectDict[1] %}

    <div class="col-sm-4 col-md-3">
      {% include project-thumbnail.html %}
    </div>
    {% endfor %}
  </div>
</div>
