<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Esther Jun Kim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% assign url = page.url|remove:'index.html' %}
      {% for link in site.navigation %}
        {% if url == link.url %}
          <li {% if url == link.url %}class="nav-item active"{% endif %}>
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% else %}
          <li {% if url == link.url %}class="nav-item"{% endif %}>
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li>
          <a class="nav-link" href="http://www.linkedin.com/in/estherjunkim">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://scholar.google.com/citations?hl=en&user=QfQuFmgAAAAJ">
            <i class="ai ai-google-scholar-square"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://github.com/drejkim">
            <i class="fa fa-github-square"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://www.youtube.com/c/estherkimdr">
            <i class="fa fa-youtube-square"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://twitter.com/drejkim">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
      </ul>
  </div>
</nav>