---
layout: default
title: Mentions
css:
- /css/mentions.css
---

<div class="page-header-primary">
  <div class="container">
    <h1>Mentions</h1>
    <p class="lead">Social media highlights</p>
  </div>
</div>

<div>
  {% for tweet in site.data.mentions.tweets %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="tweet" id="{{tweet}}"></div>
      </div>
    </div>
  </div>

  {% if forloop.last == false %}
  <hr class="hr-extra-margin">
  {% endif %}
  {% endfor%}
</div>

<script sync src="https://platform.twitter.com/widgets.js"></script>
<script>
  window.onload = (function() {
    var tweets = jQuery(".tweet");

    jQuery(tweets).each(function (t, tweet) {
      var id = jQuery(this).attr('id');

      twttr.widgets.createTweet(
        id, tweet,
        {
          conversation: 'all',
          cards: 'visible',
          theme: 'light',
          align: 'center'
        }
      );
    });
  });
</script>
