.background-tech {
    background:
      url('https://media.githubusercontent.com/media/estherjk/estherjk.github.io/master/assets/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Height of viewport minus the navbar and footer heights */
    min-height: calc(100vh - 116px);
}