.btn-outline {
  color: $link-color;
  background-color: transparent;
  border-color: $link-color;
}

.btn-outline:hover {
  color: #fff;
  background-color: $link-color;
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-inverse:hover {
  color: $link-color;
  background-color: #fff;
}