.headshot {
  background-image: url("/assets/img/headshot/esther-bw.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .headshot {
    height: 300px;
  }
}

@media (min-width: 1440px) {
  .headshot {
    height: 450px;
  }
}