$gradient-bg-start: $primary-color;
$gradient-bg-end: darken($primary-color, 10%);

.jumbotron {
  padding: 80px 0;
  color: white;
  text-align: center;
  background: -webkit-linear-gradient(top, $gradient-bg-start, $gradient-bg-end);
  background: -o-linear-gradient(top, $gradient-bg-start, $gradient-bg-end);
  background: -moz-linear-gradient(top, $gradient-bg-start, $gradient-bg-end);
  background: linear-gradient(to bottom, $gradient-bg-start, $gradient-bg-end);
}

.jumbotron .lead {
  margin: 0;
  font-size: 2.5em;
  font-weight: 300
}

@media (max-width: 767px) {
  .jumbotron .lead {
    font-size: 2em;
  }
}