$active-color: $link-hover-color;

.list-group-condensed > .list-group-item {
  padding: 5px 10px;
}

.list-group-inline > .list-group-item {
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 5px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: $active-color;
  border-color: $active-color;
}

.list-group-item.active>a,
.list-group-item.active:focus>a,
.list-group-item.active:hover>a {
  color: #fff;
}