.logo-container {
  font-family: $font-family-serif;
}

.logo-container:hover>#logo-drejkim {
  display: none;
}

.logo-container:hover>#logo-drejkim-easter-egg {
  display: inline-block;
}

#logo-drejkim-easter-egg {
  display: none;
}