.logo-container {
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.logo-container:hover>#logo-drejkim {
  display: none;
}

.logo-container:hover>#logo-drejkim-easter-egg {
  display: inline-block;
}

#logo-drejkim-easter-egg {
  display: none;
}

.logo-text {
  font-family: 'Shadows Into Light Two', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

a.logo-anchor {
  color: #fff;
}

a.logo-anchor:hover,
a.logo-anchor:focus {
  color: #fff;
  text-decoration: none;
}