.project-links-container {
  display: inline-block;
  padding-top: 20px;
}

.project-links-container a+a {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .project-links-container>a {
    display: block;
    width: 100%;
  }

  .project-links-container a+a {
    margin-top: 20px;
    margin-left: 0;
  }
}