html {
  position: relative;
  min-height: 100%;
}

body {
  /* Height of fixed navbar */
  padding-top: 56px;

  /* Margin bottom by footer height */
  margin-bottom: 60px;

  /* Additional padding to give some breathing room at the bottom */
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}