/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.footer a {
  color: #777;
}

.footer a:hover,
.footer a:focus {
  color: #333;
}

.footer p {
  margin: 0;
  padding: 0;
}