<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.url == '/' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | Esther Jun Kim</title>
    {% endif %}

    <link rel="shortcut icon" sizes="16x16 32x32 64x64 128x128" href="/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/favicon-152.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/global.css">

    {% for file in page.css %}
    <link rel="stylesheet" href="{{ file }}">
    {% endfor %}

    {% include ga.html %}
  </head>
  <body>

    {{ content }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% for file in page.js %}
    <script type="text/javascript" src="{{ file }}"></script>
    {% endfor %}
  </body>
</html>
