<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if page.url == '/' or page.url == '/index.html' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | Esther Makes Tech</title>
    {% endif %}

    <link rel="shortcut icon" sizes="16x16 32x32 64x64 128x128" href="https://media.githubusercontent.com/media/drejkim/drejkim.github.io/master/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="https://media.githubusercontent.com/media/drejkim/drejkim.github.io/master/assets/favicon-152.png">
    
    <!-- Site base CSS -->
    <link rel="stylesheet" href="/css/base.css">
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/d8fe34cc41.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">

    {% for file in page.css %}
    <link rel="stylesheet" href="{{ file }}">
    {% endfor %}

    {% include ga.html %}
    {% seo %}
  </head>
  <body>

    {{ content }}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% for file in page.js %}
    <script type="text/javascript" src="{{ file }}"></script>
    {% endfor %}
  </body>
</html>
