---
layout: default
---

{% assign category = site.data.blog-categories[page.category] %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Posts -->
    <div class="col-lg-10 col-xl-10">
      <table class="table table-sm w-auto">
        <tbody>
          {% for post in site.posts %}
          {% if post.categories contains page.category %}
          <tr>
            <td class="align-middle text-nowrap"><span class="text-monospace text-muted">{{ post.date | date: "%d %b %Y" }}</span></td>
            <td class="align-middle w-100"><a href="{{ post.url }}">{{ post.title }}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Categories: Do not show on smaller devices -->
    <div class="col-lg-auto d-none d-md-block">
      <ul class="list-group">
        {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories%}
          {% assign category_label = category[0] %}

          {% if category_label == page.category %}
            <li class="list-group-item active"><a href="/blog/category/{{ category_label }}" class="text-white">{{ site.data.blog-categories[category_label].title }}</a></li>
          {% else %}
            <li class="list-group-item"><a href="/blog/category/{{ category_label }}">{{ site.data.blog-categories[category_label].title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
