---
layout: default
---

{% assign category = site.data.blog-categories[page.category] %}
{% assign categories = site.data.blog-categories %}
{% assign category_link_prefix = "/blog/category" %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Posts -->
    <div class="col-lg-10 col-xl-10">
      <table class="table table-sm w-auto">
        <tbody>
          {% for post in site.posts %}
          {% if post.categories contains page.category %}
          <tr>
            <td class="align-middle text-nowrap"><span class="text-monospace text-muted">{{ post.date | date: "%d %b %Y" }}</span></td>
            <td class="align-middle w-100"><a href="{{ post.url }}">{{ post.title }}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Category List Group: Do not show on smaller devices -->
    <div class="col-lg-auto d-none d-lg-block">
      {% include category-list-group.html %}
    </div>

    <!-- Category Select: Only show on smaller devices -->
    <div class="d-xs-block d-sm-block d-md-block d-lg-none order-first mb-2">
      {% include category-select.html %}
    </div>
  </div>
</div>
