---
layout: default
css:
- /css/projects.css
---

<div class="site-project-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.description }}</p>

    <div class="project-links-container">
      {% for link in page.links %}
        <a href="{{ link.url }}" class="btn btn-lg btn-red-inverse btn-project-link">{{ link.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    {{ content }}
  </div>
</div>
