---
layout: default
---

<div class="site-project-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.description }}</p>

    <a href="{{ page.github }}" class="btn btn-lg btn-red-inverse btn-extra-margin">View on GitHub</a>
    <a href="{{ page.post }}" class="btn btn-lg btn-red-inverse btn-extra-margin">View blog post</a>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="video-container">
      <iframe src="{{ page.youtube }}" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
