---
layout: default
---

{% assign project = site.data.projects[page.title] %}

<div class="jumbotron text-center">
  <h1 class="display-4 text-forcewrap">{{ page.title }}</h1>
  <p class="lead">{{ project.description }}</p>

  <div class="d-flex justify-content-center flex-column flex-sm-row">
    {% for link in project.links %}
      {% if forloop.last == false %}
        <a href="{{ link.url }}" class="btn btn-outline-primary btn-lg mb-3 mb-sm-0 mr-sm-3">{{ link.name }}</a>
      {% else %}
        <a href="{{ link.url }}" class="btn btn-outline-primary btn-lg">{{ link.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="mb-3">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ project.youtube }}" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
    
        <p>{{ project.excerpt }}</p>
      </div>
  </div>
</div>