---
layout: default
---

{% assign category = site.data.project-categories[page.category] %}
{% assign categories = site.data.project-categories %}
{% assign category_link_prefix = "/projects/category" %}

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">

    <!-- Projects -->
    <div class="col-lg-9 col-xl-10">
      <div class="row">
        {% for projectDict in site.data.projects %}
        {% assign projectTitle = projectDict[0] %}
        {% assign project = projectDict[1] %}
    
        {% if project.categories contains page.category %}
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="mb-4">
            {% include project-card.html %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Category List Group: Do not show on smaller devices -->
    <div class="col-lg-auto d-none d-lg-block">
      {% include category-list-group.html %}
    </div>

    <!-- Category Select: Only show on smaller devices -->
    <div class="d-xs-block d-sm-block d-md-block d-lg-none order-first mb-2">
      {% include category-select.html %}
    </div>
  </div>
</div>