@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.text-mono {
  font-family: 'Inconsolata', monospace;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-8x {
  font-size: 8em;
}

.fa-18px {
  font-size: 18px;
}