@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

.text-mono {
  font-family: 'Inconsolata';
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-8x {
  font-size: 8em;
}

.fa-18px {
  font-size: 18px;
}